@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #ffebe7;
}

body{
    line-height: 1.6;
}

h1{
    font-size: 3rem;
    font-weight:800;
    text-align: center;
    margin: 4rem 0 2rem 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-size: 15px;
    color: rgb(52, 15, 15);
}

#search-btn{
    margin: 15px;
    padding: 10px 25px;
    border-radius: 12px;
    border-color: chocolate;
    background-color: #a6813d;
    color: azure;
    transition: 0.2s all ease-in-out;
}


#search-btn:hover{
    background-color: #d9af62;
    color:rgb(255, 255, 255);
    cursor: pointer;
}

.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.search-result img{
    width: 100%;
    height: 250px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.search-result:hover img{
    opacity: 0.7;
}

.search-result a{
    font-size: 20px;
    font-weight: 400;
    color: black;
    display: block;
    text-decoration: none;
    padding-top: 1.5%;
    text-transform: capitalize;
}

#show-more-btn{
    background-color: #04bef1;
    font-size: 18px;
    border: none;
    color: aliceblue;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s all ease-in;
    display: none;
}

#show-more-btn:hover{
    background-color: #0c9bc2;
}

@media screen and (max-width: 1200px) {
    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .search-result{
        width: 100%;
    }
}